.qr--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner--container {
    width: 22rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr--code {
    width: 17.6rem;
    height: 17.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    background-color: #4e80ee33;
    border-radius: 50%;
}

.qr--code div {
    width: 80%;
    height: 80%;
    background-color: #F2F5F9;
    border-radius:  1.5rem;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.qr--btn {
    width: auto;
    height: auto;
    padding: 1rem 2.4rem;
    display: flex;
    align-items: center;
    font-family: inherit;
}


.qr--btn img {
    margin-left: .5rem;
}

.qr {
    padding: 1.8rem;
    overflow: hidden;
}

.qr img {
    width: 100%;
    height: 100%;
}